name: gestion_soutenances
description: Application de gestion des soutenances académiques        
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.0
  provider: ^6.1.1
  shared_preferences: ^2.2.2
  uuid: ^4.4.0
  file_picker: ^6.1.1
  intl: ^0.20.2
  # Ajoutez cette ligne :
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  